CLOUD_SQL_POSTGRES_PROJECT=test-agents-ai-app
CLOUD_SQL_POSTGRES_REGION=us-central1
CLOUD_SQL_POSTGRES_INSTANCE=quien-prod
CLOUD_SQL_POSTGRES_DATABASE=product-name
CLOUD_SQL_POSTGRES_USER=svc_product-name
CLOUD_SQL_POSTGRES_PASSWORD=
CLOUD_SQL_POSTGRES_IP_TYPE=PUBLIC
